:root {
    --bs-body-bg: #F8EDEB;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / .05);
}

*{
    font-family: 'Lato', serif;;
}

.profile-section {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    max-width: 150px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #007bff;
    /* Bootstrap primary color */
}

.icons-color{
    color: #000000;
}

.img-size{
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.card{
    border: none;
    background: white;
}

.card-body{
    border-radius: 6px;
    border: 0.5px solid #F08080;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / .05);
}

.card-btn{
    /* background: #E8A598; */
    background: #E8A598;
    border: none;
    color: black;
}

.card-btn:hover, .card-btn:active{
    background-color: #FFB5A7 !important;
    color: black !important;
}


/*
# Media Queries
*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .card.mx-5{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    h5.card-title.py-1.m-0.fw-semibold {
        font-size: 1rem;
    }

    p.card-text.py-1.fw-light {
        font-size: 0.85rem;
    }

    a.btn.btn-primary.w-100.card-btn {
        font-size: 0.80rem;
    }

    .pt-2-responsive {
        padding-top: 0.5rem!important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card.mx-5{
        margin-left: 0 !important;
        margin-right: 0 !important;
    } 

    h5.card-title.py-1.m-0.fw-semibold {
        font-size: 1.15rem;
    }

    p.card-text.py-1.fw-light {
        font-size: 0.90rem;
    }

    a.btn.btn-primary.w-100.card-btn {
        font-size: 0.90rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card.mx-5{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}